<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>wpisy_lidssssst</h1>
    <p>{{wpis.body}}</p>
    <div class="wpsiy">
        <p>{{wpis.body}}</p>
        {% for wpis in wpisy %}

            <div class="wpis">
                <h2> <a href="#"> {{wpis.title}} </a></h2>
                <p>{{wpis.body}}</p>
                <p>{{wpis.date}}</p>
            </div>
        {% ednfor %}
        <body>
            <h1>to jest h1</h1>
            <p>a to jest p</p>
        </body>
    </div>
</body>
</html>